<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="user">Edit User</ion-title>
    <ion-title *ngIf="!user">Create New User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label>First Name</ion-label>
      <ion-input type="text" formControlName="firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Last Name</ion-label>
      <ion-input type="text" formControlName="lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Birthday</ion-label>
      <ion-datetime formControlName="birthday" displayFormat="MMM DD, YYYY" [value]="user?.birthday" min="1000"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Sex</ion-label>
      <ion-select formControlName="sex" [value]="user?.sex">
        <ion-select-option *ngFor="let g of Gender | keyvalue" [value]="g.key">{{ g.value }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="!userForm.valid">Submit</ion-button>
    <ion-button expand="block" color="medium" (click)="onCancel()">Cancel</ion-button>
  </form>
</ion-content>
