<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
        <ion-button [routerLink]="'/'">
          <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
          User Profiles
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!user">
  <ion-item lines="none">
    User not found.
  </ion-item>
</ion-content>

<ion-content [fullscreen]="true" *ngIf="user">
  <ion-item lines="none">
    First Name: {{ user.firstName }}
  </ion-item>
  <ion-item lines="none">
    Last Name: {{ user.lastName }}
  </ion-item>
  <ion-item lines="none">
    Birthday: {{ user.birthday | date }}
  </ion-item>
  <ion-item lines="none">
    Sex: {{ Gender[user.sex] }}
  </ion-item>
    <ion-button [routerLink]="['/user', user.id, 'edit']" color="primary" expand="full">
      <ion-icon name="create-outline"></ion-icon>Edit
    </ion-button>
</ion-content>
