<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      User Profiles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        User Profiles
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list>
    <ion-item *ngFor="let item of filterForm">
      <ion-label>{{item.label}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="item.isChecked" (ngModelChange)="onFilterChange($event)"></ion-checkbox>
    </ion-item>
    <ion-item *ngIf="users?.length === 0">
      No users found. <ion-button slot="end" color="warning" (click)="loadMockData()">Load mock data?</ion-button>
    </ion-item>
    <ion-item *ngIf="users?.length !== 0">
      <ion-chip *ngFor="let stat of stats | keyvalue">
        <ion-label>{{ stat.key }}: {{ stat.value }}</ion-label>
      </ion-chip>
    </ion-item>
    <app-user *ngFor="let user of filteredUsers(users)" [user]="user" (deleted)="onUserDelete(user.id)"></app-user>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="fabAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer>
  Tip: Slide items to left to reveal delete button. 
</ion-footer>