<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      User Profiles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        User Profiles
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list>
    <ion-item *ngFor="let item of filterForm">
      <ion-label>{{item.label}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="item.isChecked" (ngModelChange)="onFilterChange($event)"></ion-checkbox>
    </ion-item>
    <app-user *ngFor="let user of getUsers()" [user]="user"></app-user>
    <ion-item *ngIf="users.length === 0">
      No users found.
    </ion-item>
  </ion-list>
</ion-content>